:root {
    --backgroundColor: rgb(0, 0, 0);
    --mainPatternColor: rgb(255, 255, 255);
    --secondaryPatternColor: rgb(124, 124, 124);
}

.shape {
    height: 100px;
    width: 100px;
    margin: 25px auto;
    text-align: center;
}

.square {
    background-color: var(--backgroundColor);
}

.circle {
    background-color: var(--backgroundColor);
    border-radius: 50%;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 100px solid var(--backgroundColor);
}

.trapezoid {
    height: 0;
    border-bottom: 100px solid var(--backgroundColor);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
}

.diamond {
    background-color: var(--backgroundColor);
    rotate: 45deg;
}

.para {
    background-color: var(--backgroundColor);
    transform: skew(25deg);
}

td {
    width: 150px;
    height: 150px;
}

tr, td {
    border: solid black 2px;
    text-align: center;
}

.duocolor {
    background-image: linear-gradient(
            var(--backgroundColor) 0%, 
            var(--backgroundColor) 50%, 
            var(--mainPatternColor) 50%, 
            var(--mainPatternColor) 100%
        )
}

.polkadot {
    background-image: radial-gradient(var(--mainPatternColor) 20%,transparent 20%), 
        radial-gradient(var(--mainPatternColor) 20%, transparent 20%);
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
}

.hollow {
    width: 75px;
    height: 75px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    position: relative;
}